.ajouter input {
   color: mediumpurple;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 15px;
}
.ajouter button {
    background-color: rgb(166, 137, 223);
    color: azure;
    border: none;
    outline: 0;
    border-radius: 5em;
    width: 100px;
    padding: 10px;
    font-weight: bolder;
    font-size: 15px;
}
.ajouter button:hover {
    
    
    background-color: rgb(130, 94, 203);
}
.ajouter {
    margin: 10px auto;
    font-weight: bolder;
}